# Dependencies
node_modules/

# Build results
dist/
dist-ssr/
coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.*
!.env.example
*.local

# Cache
.vite/
.eslintcache
*.tsbuildinfo
*.timestamp-*-*.mjs

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating system files
.DS_Store
Thumbs.db

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/
