@import './base.css';

html {
  min-width: 320px;
  background: #f3f7fb;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

button,
input {
  font-family: inherit;
}

#app {
  min-height: 100vh;
}
